body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #f8fafc;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #1a1a1a;
    font-size: 40px;
}

h2 {
    color: #555;
}

section { 
    background: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 100px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    taxt-align: center;
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    color: #333;
}

nav a:hover {
    color: blue;
}

button{
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-redius: 25px;
    cursor: pointer;
    background-color: #2563eb;
    color: white;
}

button:hover{
    background-color: #1d4ed8;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skill-card{
    background: #f0f0f0;
    padding: 20px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
}

.project-card{
    background: white;
    padding: 30px; 
    margin: 25px auto;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3)
}

.projcts-card h3{
    color: #333;
}

#contact{
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
}

html{
    scroll-behavior: smooth;
}

@media (max-width: 600px){
    
    body {
        padding: 20px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    nav a {
        display: block;
        margin: 10px;
    }
    
    section {
        padding: 15px;
    }
    
    .skills-container{
        flex-direction: column;
        align-items: center;
    }
    
    .skill-card{
        width: 80%;
    }
}